<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><b>Regex Test</b></a>

      <div class="d-flex">
        <p>USER@GMAIL.COM</p>
        <router-link
          :to="{ name: 'images' }"
          class="btn btn-light mx-2"
          style="background-color: #c0c0c0"
          >IMAGES</router-link
        >
        <router-link
          :to="{ name: 'upload' }"
          class="btn btn-light mx-2"
          style="background-color: #7393b3"
          >UPLOAD</router-link
        >
        <button class="btn btn-light" style="background-color: #36454f">
          LOGOUT
        </button>
      </div>
    </div>
  </nav>
</template>

<script></script>

<style scoped>
.btn {
  /* height: 30px; */
  width: 150px;
  text-align: center;
  color: white;
}
</style>