<template>
  <masonry-wall :items="images" :gap="16" class="mt-3">
    <template #default="{ item }">
      <div class="card">
        <img
          :src="path + item.filename"
          class="card-img-top"
          :alt="item.filename"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </template>
  </masonry-wall>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      path: "upload/images/",
      images: [],
    };
  },
  methods: {
    async getImages() {
      var self = this;
      await axios
        .get("http://127.0.0.1:8000/api/image")
        .then(function ({ data }) {
          //   console.log({ data });
          const { status, images } = data;
          if (status == "error") {
            Swal.fire("Error!", "Something is wrong", "error");
          } else {
            self.images = images;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  mounted() {
    this.getImages();
  },
};
</script>

<style>
</style>