<template>
  <div class="container mt-4">
    <div class="row text-center">
      <div>
        <h3><b>UPLOAD YOUR IMAGE</b></h3>
      </div>
      <form @submit.prevent="sendData" id="form">
        <div class="row mt-5">
          <div class="col-md-4">
            <label for="updImg" class="form-label">UPLOAD IMAGE</label>
            <div id="div_img_pre" style="display: hidden">
              <img class="my-3" id="image_preview" />
            </div>
            <input
              type="file"
              class="form-control"
              id="updImg"
              accept="image/*"
              ref="file"
              v-on:change="onChangeFile()"
              required
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <label for="title" class="form-label">TITLE</label>
            <img id="output_image" />
            <input
              type="text"
              class="form-control alingText"
              id="title"
              placeholder="IMAGE TITLE"
              ref="title"
              v-model="title"
              required
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <label for="descr" class="form-label">DESCRIPTION</label>
            <input
              type="text"
              class="form-control alingText"
              id="descr"
              placeholder="IMAGE DESCRIPTION"
              ref="description"
              v-model="description"
              required
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="background-color: #36454f"
            >
              UPLOAD
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>


<script>
import { ref } from "vue";
import axios from "axios";

export default {
  data() {
    return {
      file: ref(),
      title: ref(),
      description: ref(),
    };
  },
  methods: {
    onChangeFile() {
      const div = document.getElementById("div_img_pre");
      this.file = this.$refs.file.files[0];
      if (this.file) {
        let reader = new FileReader();

        reader.readAsDataURL(this.file);
        reader.onload = function () {
          let img = document.getElementById("image_preview");
          // can also use "this.result"
          img.src = reader.result;
          img.style.height = "150px";
          img.style.width = "150px";
          div.style.display = "block";
        };
      } else {
        div.style.display = "none";
      }
    },
    loader() {
      Swal.fire({
        title: "Processing the information",
        timerProgressBar: true,
        width: 400,
        didOpen: () => {
          Swal.showLoading();
        },
      });
    },
    async sendData() {
      // console.log(this.title, this.description, this.file);
      this.loader();
      let formData = new FormData();
      formData.append("title", this.title);
      formData.append("description", this.description);
      formData.append("file", this.file);

      await axios
        .post("http://127.0.0.1:8000/api/image", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(function ({ data }) {
          const { status } = data;
          if (status == "error") {
            Swal.fire("Error!", "Some information is missing", "error");
          } else {
            document.getElementById("form").reset();
            Swal.fire("OK!", "The information has been saved", "success");
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
.alingText {
  text-align: center;
  font-size: 12px;
}

div {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}

label {
  font-weight: bold;
}

button {
  border-radius: 40px;
  width: 100%;
}
</style>
